<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> Contact Me</title>
  <link rel="stylesheet" href="./styles1.css">
</head>

<body>
  <div class="top-container">
    <h2> You can reach me via</h2>
    <br><span class="heading">Email:</span> gomesjoshua@gmail.com
    <br><span class="heading">Mobile:</span> 408-891-6172
    <br><span class="heading">Address:</span> 1031 Clyde Ave, Apt 1004, Santa Clara, CA 95054.

  </div>
  <div class="middle-container">
    <form action="mailto:gomesjoshua@gmail.com" method="post" enctype="text/plain">
      <label> Your Name: </label>
      <input type="text" name="yourName" value="">
      <br>
      <label>Your Email:</label>
      <input type="email" name="yourEmail" value=""><br>

        <label class="message"> Your Message:</label><br>
        <textarea name="name" rows="8" cols="30"></textarea>
        <input type="submit" name="">
    </form>

  </div>

</body>

</html>
