<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> Portfolio | Joshua Gomes</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://fonts.googleapis.com/css?family=Amiri|Noto+Sans+TC|Rochester" rel="stylesheet">
  <!-- Compiled and minified CSS 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  -->

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
  <!-- Bootstrap Scripts-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- Font Awesome CDN -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <div class="header">
    <div class="progress-container">
     <div class="progress-bar" id="myBar"></div>
    </div>
  </div>
  <div class="top-container">
    <img class="top-cloud" src="{{url_for('static', filename='cloud.png')}}" alt="cloud-image">
    <h3 class=hello-world> Hello, World!</h3>
    <h1> I'm Joshua.</h1>
    <h2>A Programmer. </h2>
    <img class="bottom-cloud" src="{{url_for('static', filename='cloud.png')}}" alt="cloud-image">
    <img class="ducky" src="{{ url_for('static', filename='MyRubberDucky.jpeg')}}" alt="mountain-image">
  </div>

  <div class="middle-container">
    <div class="project1">
      <h2>Genome Explorer</h2>
      <img class="project" src="{{url_for('static', filename='project1.png')}}" alt="cloud-image">
      <p class="intro">My team and I built a project that consisted of using multiple data structures to access the same set of data to manipulate it using different characteristics.
        <br>We used a Linked List, Binary Search Tree, 2-3Tree and a Hash Table to sort data for Genome Assemblies.
    </div>
    <hr>
  </div>

  <div class="row justify-content-lg-between align-items-center pb-5 pb-lg-6">
                <div class="col-lg-5 order-lg-2 mb-2 mb-lg-0">
                    <h2 class="h3 font-weight-normal">Genome Explorer</h2>
                    <p class="font-weight-light text-light">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <a href="project1">
                        <figure class="img-overlay">
                            <img class="border-dark img-thumbnail" src="{{url_for('static', filename='project1.png')}}" alt="cloud-image">
                            </div>
                        </figure>
                    </a>
                </div>
            </div>

  <div class="skills">
    <h2>My Skills.</h2>
    <div class="skill-row">
        <h3>Programming Languages</h3>
        <p>
          <img class="symbol" src="{{url_for('static', filename='C.png')}}" alt="C-programming">
          <br>
          Project-
          <br>Built and implemented my own C Library.
          <a class="repo-link" href="https://github.com/codewitty/Cadet/tree/master/libft"> Check it Out!</a>
        </p>
        <p>
          <img class="symbol" src="{{url_for('static', filename='C++.png')}}" alt="C++-programming">
          <br>
          Linked Lists. Data Structures.
          Search and Sort Algorithms.
          File Handling.
          Linked Lists
        </p>

        <h3>Web Development</h3>
        <p>
          <h4>Front-End</h4>
          <img class="symbol" src="{{url_for('static', filename='front_end.png')}}" alt="Front End">
          <br>
          Experience with deploying applications to static CDN servers along
          with associated concerns like versions, assets and bundling
          for performance.
        </p>
        <p>
          <h4>Back-End</h4>
          <img class="symbol" src="{{url_for('static', filename='back_end.jpg')}}" alt="Back End">
          <br>
          Experience with using React and Flask, NodeJS, RestAPI's, SQL etc. 
        </p>
      </div>
      <hr>
    </div>

  <div class="about-me">
    <div class="profile">
      <img class="profile_pic" src="{{url_for('static', filename='35624908.png')}}" alt="">
      <h2>Hello.</h2>
      <p class="intro">I started my professional career as an Officer in the Merchant Navy.
        <br>After travelling all over the world and having
        myriad experiences and adventures at sea, I wanted to explore my creative side.
        <br>Computers have always fascinated me, and the problems being solved by programmers all over the world amazed me. <br>I decided to become a programmer and build
        something that could one day change the world for the better.</p>
    </div>
    <hr>
  </div>

    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>Internships</h3>
      <p>I'm currently looking for a Software Development internship.</p>
      <div class="button-ctct"><a class="resume-button" href="{{ url_for('static', filename='Joshua_Gomes_Resume.pdf') }}">RESUME</a></div>
      <div class="button-ctct"><a class="resume-button" href="/np">National Parks</a></div>
      <h3>Social</h3>
      <br>
      <div id="social_container" style="white-space:nowrap">

      <div id="social_image" style="display:inline;">
          <i class="fa fa-linkedin-square" style="font-size:24px"></i>
      </div>

      <div id="footer-link" style="display:inline; white-space:nowrap;">
        <a class="footer-link" href="https://www.linkedin.com/in/codewitty/">LinkedIn</a>
      </div>
      <br>

      <div id="social_image" style="display:inline;">
          <i class="fa fa-github" style="font-size:24px"></i>
      </div>

      <div id="footer-link" style="display:inline; white-space:nowrap;">
        <a class="footer-link" href="https://github.com/codewitty">Github</a>
      </div>
      <br>

      <div id="social_image" style="display:inline;">
          <i class="fa fa-envelope" style="font-size:24px"></i>
      </div>

      <div id="footer-link" style="display:inline; white-space:nowrap;">
        <a class="footer-link" href="">gomesjoshua@gmail.com</a>
      </div>
      <br>

      <div id="social_image" style="display:inline;">
          <i class="fa fa-instagram" style="font-size:24px"></i>
      </div>

      <div id="footer-link" style="display:inline; white-space:nowrap;">
        <a class="footer-link" href="https://www.instagram.com/drawntowildplaces/">Instagram</a></p>
      </div>
      <hr> </div> 
  </div>


  <div class="bottom-container">

 </div>
 <script>
// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

function myFunction() {
  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  var scrolled = (winScroll / height) * 100;
  document.getElementById("myBar").style.width = scrolled + "%";
}
</script>

</body>

</html>
