body {
  margin: 0;
  font-family: 'Amiri', serif;
  color: #40514E;
  text-align: center;
}

a {
  text-decoration: none;
  /*color: #c05c7e;*/
  color: #000000;
  font-family: 'Noto Sans TC', sans-serif;
}

a:hover {
  color: #800000;
}

p {
  line-height: 2;
  margin: 0px auto;
}

/*
img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
*/

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: white;
}

.progress-container {
  width: 100%;
  height: 3px;
  background: white;
}

.progress-bar {
  height: 3px;
  /*background: #4caf50;*/
  /*background: #FFD700;*/
  background: #DE1768;
  width: 0%;
}

hr {
  background-color: none;
  border-style: dotted none none none;
  border-color: #FFFFFF;
  border-width: 5px;
  height: none;
  width: 4%;
  margin-top: 100px;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Rochester', cursive;
  font-size: 5.625rem;
  color: #66BFBF
}

h2 {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #0c084c;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: #247e6c;
  margin-top: 30px;
  margin-bottom: 0px;
}

h4 {
  text-decoration: underline;
  margin: 0px auto;
}

.hello-world{
    position: relative;
    left: 30px;
}

.skill-row {
  width: 60%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-container {
  /*background-color: #e0fcff;*/
  background-color: #f7f4e9;
  position: relative;
  padding: 100px 0;
  font-size: 2.5rem;
}

.about-me {
  background-color: #90f2ff;
  /*background-color: #c05c7e;*/
  font-size: 1.5rem;
  padding: 100px 0;
}

.middle-container {
  background-color: white;
  /*background-color: #c05c7e;*/
  font-size: 1.5rem;
  padding: 100px 0;
}

.skills {
  background-color: #f7f4e9;
  /*background-color: #f3826f;*/
  padding: 100px 0;
  font-size: 1.5rem;
  line-height: 1.5;
}

.contact-me {
  /*background-color: #90f2ff;*/
  /*background-color: #ffb961;*/
  background-color: #ffffff;
  font-size: 1.5rem;
  padding: 100px 0;
}

.bottom-container {
  background-color: #f7f4e9;
  padding-top: 50px;
  padding-bottom: 50px;
}

.intro {
  width: 50%;
  font-size: 1.8rem;
  margin: auto;
  color: #2d3561;
}

.button-ctct {
  margin-top: 50px;
}

.social-container {
  margin-top: 50px;
}

.butn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Noto Sans TC', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 50px;
}

.butn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.links {
  word-spacing: 50px;
}

.repo-link{
  font-size: 1.2rem;
  font-weight: bold;
  color: #2d3561;
}

.footer-link{
  font-size: 1.0rem; 
  font-weight: bold;
  text-decoration: underline;
  color: #2d3561;
}

.row{
    font-family: Fira Sans,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: left;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
    align-items: center;
    padding-bottom: 3rem;
}

.project {
  height: 80%;
  width: 80%;
  border-radius: 100%;
  object-fit: contain
}

.profile_pic {
  width: 350px;
  height: 350px;
  border-radius: 100%;
}

.symbol {
  width: 100px;
  size: 75px;
}

.copyright {
  font-size: 0.75rem;
  color: #EAF6F6;
  padding: 40px 0;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.ducky{
  width: 400px;
  height: 400px;
  border-radius: 100%;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.first-skill-pic {
  width: 25%;
  float: top;
  margin-right: 30px;
}

.second-skill-pic {
  width: 25%;
  float: right;
  margin-left: auto auto 50px 30px;
}

 @keyframes TransitioningBackground {
	 0% {
		 background-position: 1% 0%;
	}
	 50% {
		 background-position: 99% 100%;
	}
	 100% {
		 background-position: 1% 0%;
	}
}
 .resume-button {
     font-size: 20px;
	 font-weight: 600;
     font-family: 'Noto Sans TC', sans-serif;
     padding: 10px 20px 10px 20px;
     text-decoration: none;
     margin-top: 50px;
	 color: white;
	 text-align: center;
	 width: 200px;
	 height: 60px;
	 border-radius: 10px;
	 position: relative;
	 overflow: hidden;
	 background-image: linear-gradient(270deg, #8e9ac2, #42579a);
	 background-size: 400% 400%;
	 animation: TransitioningBackground 10s ease infinite;
	 transition: 0.6s;
     background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
     background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
     background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
     background-image: -o-linear-gradient(top, #11cdd4, #11999e);
     background-image: linear-gradient(to bottom, #11cdd4, #11999e);
     -webkit-border-radius: 10;
     -moz-border-radius: 10;
     border-radius: 10px;
}
 .resume-button::before {
	 content: '';
	 display: block;
	 position: absolute;
	 background: rgba(255, 255, 255, 0.5);
	 width: 60px;
	 height: 100%;
	 top: 0;
	 filter: blur(30px);
	 transform: translateX(-100px) skewX(-15deg);
}
 .resume-button::after {
	 content: '';
	 display: block;
	 position: absolute;
	 background: rgba(255, 255, 255, 0.2);
	 width: 30px;
	 height: 100%;
	 top: 0;
	 filter: blur(5px);
	 transform: translateX(-100px) skewX(-15deg);
}
 .resume-button:hover {
	 background-image: linear-gradient(to left, #2d8fe5, #d155b8);
	 transform: scale(1.2);
	 cursor: pointer;
}
 .resume-button:hover::before, .subscribe-button:hover::after {
	 transform: translateX(300px) skewX(-15deg);
	 transition: 0.7s;
}
