body {
  margin: 0;
  text-align: center;
  font-family: 'Amiri', serif;
  color: #40514E;
}


a {
  text-decoration: none;
  /*color: #c05c7e;*/
  color: #000000;
  font-family: 'Noto Sans TC', sans-serif;
}

a:hover {
  color: #800000;
  /*color: #0c084c;*/
}

p {
  line-height: 2;
  margin: 0px auto;
}

hr {
  background-color: none;
  border-style: dotted none none none;
  border-color: #FFFFFF;
  border-width: 5px;
  height: none;
  width: 4%;
  margin-top: 100px;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Rochester', cursive;
  font-size: 5.625rem;
  color: #66BFBF
}

h2 {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #0c084c;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: #247e6c;
  margin-top: 30px;
  margin-bottom: 0px;
}

h4 {
  text-decoration: underline;
  margin: 0px auto;
}

.skill-row {
  width: 60%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-container {
  /*background-color: #e0fcff;*/
  background-color: #f7f4e9;
  position: relative;
  padding: 100px 0;
  font-size: 2.5rem;
}

.middle-container {
  background-color: #90f2ff;
  /*background-color: #c05c7e;*/
  font-size: 1.5rem;
  padding: 100px 0;
}

.skills {
  background-color: #f7f4e9;
  /*background-color: #f3826f;*/
  padding: 100px 0;
  font-size: 1.5rem;
  line-height: 1.5;
}

.contact-me {
  background-color: #90f2ff;
  /*background-color: #ffb961;*/
  font-size: 1.5rem;
  padding: 100px 0;
}

.bottom-container {
  background-color: #f7f4e9;
  padding-top: 50px;
  padding-bottom: 50px;
}

.intro {
  width: 50%;
  font-size: 1.8rem;
  margin: auto;
  color: #2d3561;
}

.button-ctct {
  margin-top: 50px;
}

.butn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Noto Sans TC', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 50px;
}

.butn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.links {
  word-spacing: 50px;
}

.repo-link{
  font-size: 1.2rem;
  font-weight: bold;
  color: #2d3561;
}

.footer-link{
  font-size: 1.0rem; 
  font-weight: bold;
  text-decoration: underline;
  color: #2d3561;
}

.profile_pic {
  width: 350px;
  height: 350px;
  border-radius: 100%;
}

.symbol {
  width: 100px;
  size: 75px;
}

.copyright {
  font-size: 0.75rem;
  color: #EAF6F6;
  padding: 40px 0;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.ducky{
  width: 400px;
  height: 400px;
  border-radius: 100%;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.first-skill-pic {
  width: 25%;
  float: top;
  margin-right: 30px;
}

.second-skill-pic {
  width: 25%;
  float: right;
  margin-left: auto auto 50px 30px;
}

